DEBUG=True or False

CACHE_ENABLED=True or False

SECRET_KEY=django-insecure...

# Настройки доступа к базе PostgreSQL
ENGINE=django.db.backends.postgresql_psycopg2
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

EMAIL_BACKEND=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USE_TLS=

# Настройки Redis для кеширования
BACKEND=django.core.cache.backends.redis.RedisCache
LOCATION=redis://127.0.0.1:6379

# Настройки телеграм бота для рассылки сообщений
TOKEN_TG_BOT=